* {
  font-family: Be Vietnam Pro, sans-serif;
}

.rfp {
  width: 200px;
}

.header {
  background-color: #fffef5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 10px 100px;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  height: 130px;
  z-index: 3;

}


.body-container {
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 4000px;
  box-sizing: border-box;
  gap: 40px;
}


.services-section {
  padding: 20px 100px;
  background-color: #6d2946cc;
  color: #fffef5;
  font-size: 45px;
  font-weight: 700;
  display: flex;
  margin-top: -40px;
}


.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 15px;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pic1 {
  width: 80%;
  object-fit: contain;
}

.about-section {
  padding: 20px 100px;
  font-size: 26px;
  color: #6d2946cc;
  font-weight: 500;


}

.h1 {
  font-size: 45px;
  color: rgba(57, 12, 20, 255);
}

.banner {
  background-color: #6d2946e9;
  height: 100px;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.items {
  display: flex;
  font-size: 25px;
  align-items: center;
  gap: 10px;
  color: #fffef5;
  font-size: 18px;
  font-weight: bold;

}

.item1 {
  width: 75px;

}

.item2 {
  width: 75px;
}

.item3 {
  width: 75px;
}

.item4 {
  width: 75px;
}

.para {
  line-height: 75px;



}

.span1 {
  display: block;
  width: max-content;
}

.span2 {
  display: block;
  width: max-content;
}

.span3 {
  display: block;
  width: max-content;
  color: rgba(57, 12, 20, 255);
  font-weight: 900;
}

.our-services {
  border-radius: 25px;
  padding: 13px 22px;
  font-size: 20px;
  background-color: rgba(57, 12, 20, 255);
  color: #fffef5;
  border: none;
  width: max-content;

}



.to {
  color: rgba(57, 12, 20, 255);
  font-weight: 900;
}

.logo {

  border-radius: 5px;
  width: 130px;
  padding: 10px;

}






.links {
  color: rgba(108, 41, 70, 255);
  border-radius: none;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;

}

.link-container {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  flex-wrap: wrap;
}

.shedule-button {
  border-radius: 12px;
  padding: 15px 18px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  background-color: rgba(57, 12, 20, 255);
  color: rgba(255, 254, 245, 255)
}


.our-offering {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
  align-items: center;
  color: rgba(57, 12, 20, 255);
}


.offering-title {
  font-size: 48px;
}

.offering-container {
  display: flex;
  align-items: center;
  gap: 35px;
}

.offering-item {
  background-color: #f6f6f6;
}


.lower-sec {
  padding: 20px;
}

.lower-sec span {
  cursor: pointer;
  padding: 5px;
}

.lower-sec span:hover {
  background-color: #6d294695;
  color: #fffef5;
  border-radius: 10px;
}

.title-offering {
  font-size: 24px;
  font-weight: 600;
  color: #6d2946e9;
  cursor: pointer;
}

.offering-item img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.35s all ease-in-out;
}

.offering-item img:hover {
  opacity: 0.5;
  background-color: gray;
}



.last-portion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 100px;


}

.text {
  font-size: 40px;
  color: #390c14;
  font-weight: 700;
  margin-bottom: 50px;


}

.things {
  display: flex;
  align-items: center;
  gap: 45px;
  justify-content: space-evenly;
  color: #732d4d;
  font-size: 18px;
  font-weight: 500;
}

.footer {
  height: 200px;
  background-color: #390c14;


}

.slogan-footer {
  font-size: 40px;
  font-weight: 700;
  color: #fffef5;
  padding: 20px 100px;





}

.slogan-footer h1 {
  font-size: 40px;
  opacity: 0.8;
  padding-left: 540px;


}

.footer-sec {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  background-image: url("pictures/globe.jpg");
  background-size: contain;
  background-repeat: no-repeat;



}




.communicate img{
  background-color: green;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
}